.scene-database
  height 400px
  background #66CCFF
  &__icon
    display block
    width 250px
    height 250px
    fill #2E2E2C
    top 50%
    left 50%
    transform translate(-50%, -50%)
    position relative
