$size = 140px

.scene-frontendconf
  height 400px
  background #f4d60d
  &__icon
    display block
    width $size
    height $size
    position relative
    top 50%
    left 50%
    transform translate(-50%, -50%)
    fill #ffffff
