.scene-hello
  position relative
  padding 15px 15px 40px
  box-shadow 0 -1px 4px 0 rgba(0, 0, 0, 0.5)
  z-index 80
  +print()
    padding 0
    box-shadow none
    border-bottom none
  &__content
    max-width 700px
    margin 0 auto
    +print()
      max-width none
