$width = 200px

.scene-holyjs
  height 400px
  background #FF4081
  &__icon
    display block
    width $width
    height ($width / 3.7)
    position relative
    top 50%
    left 50%
    transform translate(-50%, -50%)
    fill #ffffff
