.scene-resume
  height 400px
  background #FF6633
  &__icon
    display block
    width 250px
    height 250px
    position relative
    top 50%
    left 50%
    margin-left 28px
    transform translate(-50%, -50%)
    fill #2E2E2C
    +mobile()
      width 190px
      height 190px
      margin-left 22px
