$fontFamilyRegular = 'OpenSansRegular', 'Verdana', sans-serif
$fontFamilyLight = 'OpenSansLight', 'Verdana', sans-serif
$fontFamilyBold = 'OpenSansSemiBold', 'Verdana', sans-serif

$lineHeight = 1.4

$fontsSizes = {
  'header': {'s': 18px, 'm': 20px, 'l': 20px},
  'label': {'s': 15px, 'm': 16px, 'l': 18px},
  'content': {'s': 12px, 'm': 13px, 'l': 14px},
  'small': {'s': 8px, 'm': 10px, 'l': 11px},
  'xs': {'s': 6px, 'm': 8px, 'l': 10px},
}

rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
