.block
  &_links &__row &__label
    width 250px
    +mobile()
      width auto
      font-size 14px
  &_links &__row &__content
    margin-left 265px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    +mobile()
      width auto
      margin-left 0

