.block-me
  text-align center
  background #f0f0f0
  padding 15px
  -webkit-print-color-adjust exact
  @media print
    margin-top 0
  +mobile()
    margin-top 5px
  &__title
    margin-bottom 0
  &__conctacts
    margin-top 2px
  &__part
    display inline-block
    +mobile()
      display block
  .block__row
    margin 0

