.transition-section
  &-enter
    position fixed
    top 100vh
    &-active
      top 0
      transition top .3s
  &-leave
    position fixed
    top 0
    &-active
      top 100vh
      transition top .3s
